* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}

.App-header {
  background-color: rgb(13, 13, 14);
  min-height: 10vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: whitesmoke;
}

body {
  background-color: rgb(31, 27, 27);
  padding-bottom: 70px;
}

.slider {
  background-color: rgb(17, 15, 15);
  border-radius: 40px;
  box-sizing: border-box;
  margin: auto;
  padding: 1px;
  justify-content: center;
  text-align: center;
  width: 700px; 
  height: 200px;
  position: relative;
  margin-bottom: 70px;
}

.submitButton {
  margin-bottom: 75px;
  width: 300px;
  height: 50px;
  color: black;
  background-color: grey;
  border: none;
  border-radius: 50px;
  font-size: calc(5px + 2vmin);
  display: block;
  margin: auto;
}

.submitButton:hover {
  background-color: rgb(95, 95, 95);
}

.openingParagraph {
  margin-bottom: 200px;
  text-align: center;
}

.agree {
  margin-top: 35px;
  position: absolute;
  right: 5%;
}

.neutral {
  margin-top: 35px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.disagree {
  margin-top: 35px;
  position: absolute;
  left: 5%;
}

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 50%;
  background-color: #ddd;
  display: flex;
}

.skills {
  text-align: right; 
  padding-top: 10px;
  padding-bottom: 10px; 
  color: black; 
}