* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: rgb(31, 27, 27);
  padding-bottom: 70px;
  color: whitesmoke;
  margin: 0;
}

.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
  padding-bottom: 70px;
}

.App-header {
  background-color: rgb(13, 13, 14);
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}

.slider {
  background-color: rgb(17, 15, 15);
  border-radius: 40px;
  box-sizing: border-box;
  margin: auto;
  padding: 1px;
  justify-content: center;
  text-align: center;
  width: 97%;           /* 3% left and right margin on smaller devices */
  max-width: 700px; 
  height: 100%;
  position: relative;
  margin-bottom: 120px;
}

.submitButton {
  margin-bottom: 75px;
  width: 80%;
  max-width: 300px;
  height: 50px;
  color: black;
  background-color: grey;
  border: none;
  border-radius: 50px;
  font-size: calc(5px + 2vmin);
  display: block;
  margin: auto;
}

.submitButton:hover {
  background-color: rgb(95, 95, 95);
}

.openingParagraph {
  margin-top: 75px;
  margin-bottom: 150px;
  text-align: center;
}

/* .agree {
    margin-top: 35px;
    position: absolute;
    right: 5%;
}

.neutral {
  margin-top: 35px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.disagree {
  margin-top: 35px;
  position: absolute;
  left: 5%;
} */

.agree {
  left: 54%;
}

.neutral {
  left: 2.5%;
}

.disagree {
  right: 50%;
}

.agree, .neutral, .disagree {
  margin-top: 30px; 
  position: relative; 
  width: 33.33%; 
  text-align: center;
}

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 1000px;
  width: 90%;
  background-color: #ddd;
  display: flex;
}

.skills {
  text-align: right; 
  padding-top: 10px;
  padding-bottom: 10px; 
  color: black; 
}
